<%= form_for [@car,@car_status], html: { multipart: true } do |f| %>
  <% if @car_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_status.errors.count, "error") %> prohibited this car_status from being saved:</h2>

      <ul>
      <% @car_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>






  <form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2"><%= f.label :description %> :</label>
    <div class="col-sm-7">
      <%= f.text_area :description,class:"description_carstatus form-control", rows:"1" %>
    </div>
  </div><br><br>

  <div class="form-group">
    <label class="col-sm-2"><%= f.label :status %> :</label>
    <div class="col-sm-9">
      <%= f.check_box :status %>
    </div>
  </div><br><br>





  <div class="actions btn">
    <%= f.submit%>
  </div><br><br>

  </form>


<% end %>
