<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @car_status.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @car_status.status %>
</p>

<%= link_to 'Edit', edit_car_status_path(@car_status) %> |
<%= link_to 'Back', car_statuses_path %>
