<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2"><%= f.label :first_name%> :</label>
      <div class="col-sm-9">
        <%= f.text_field :first_name,class:"form-control"%>
      </div>
    </div><br><br><br>
    <div class="form-group">
      <label class="col-sm-2"><%= f.label :last_name%> :</label>
      <div class="col-sm-9">
        <%= f.text_field :last_name,class:"form-control"%>
      </div>
    </div><br><br><br>
    <div class="form-group">
      <label class="col-sm-2"><%= f.label :gender%> :</label>
      <div class="col-sm-9">

      <select class="form-control" type="text" name="user[gender]" id="user_gender">
        <option>male</option>
        <option>female</option>

      </select>
      </div>
    </div><br><br><br>
    <div class="form-group">
      <label class="col-sm-2"><%= f.label :birth_date%> :</label>
      <div class="col-sm-9">
        <%= f.date_select :birth_date,class:"form-control",:start_year => Time.now.year - 100, :end_year => Time.now.year%>
      </div>
    </div><br><br><br>
    <div class="form-group">
      <label class="col-sm-2"><%= f.label :email%> :</label>
      <div class="col-sm-9">
        <%= f.text_field :email,class:"form-control"%>
      </div>
    </div><br><br><br>
    <div class="form-group">
      <label class="col-sm-2"><%= f.label :mobile_number%> :</label>
      <div class="col-sm-9">
        <%= f.text_field :mobile_number,class:"form-control"%>
      </div>
    </div><br><br><br>
    <div class="form-group">
      <label class="col-sm-2"><%= f.label :password%> :</label>
      <div class="col-sm-9">
        <%= f.text_field :password,class:"form-control"%>
      </div>
    </div><br><br><br>

    <div class="actions">
      <%= f.submit %>
    </div>
  </form>
<% end %>
