
<div class="panel panel-primary">
  <div class="panel-heading panel-primary">
    <td><h4>User Informations</h4></td>
  </div>
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th class="text-center">First Name</th>
        <th class="text-center">Last Name</th>
        <th class="text-center">Gender</th>
        <th class="text-center">Birth Date</th>
        <th class="text-center">Email</th>
        <!-- <th class="text-center">Mobile Number</th> -->
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @user.first_name %></td>
        <td><%= @user.last_name %></td>
        <td><%= @user.gender %></td>
        <td><%= @user.birth_date %></td>
        <td><%= @user.email %></td>
        <!-- <td><%= @user.mobile_number %></td> -->
      </tr>
    </tbody>
  </table>
</div>




  <div class="panel panel-primary">
    <div class="panel-heading panel-primary">
      <td><h4>Cars</h4></td>
    </div>
  <%if @cars.blank? %>
  <div class="container">
    <h3>No Car Yet, Please Contact Us.</h3>
  </div>
  <%else%>
    <% i = 1 %>
      <table class="table table-bordered text-center">
        <thead>
          <th class="text-center">Car license</th>
          <th class="text-center">Description</th>
          <th class="text-center">Enter date</th>
          <th class="text-center">Car category</th>
          <th class="text-center">Car subcategory</th>
          <th></th>
        </thead>
        <tbody>
          <% @cars.each do |car| %>
          <tr>
            <td><%= car.car_license %></td>
            <td><%= car.description %></td>
            <td><%= car.enter_date %></td>
            <td><%= car.car_category %></td>
            <td><%= car.car_subcategory %></td>
            <td><%= link_to 'Status', user_car_path(@user,car), class: "btn btn-primary" %></td>



            </tr>

            <% i = i+1 %>
        </tbody>


  <%end %>
  <%end %>
    </table>


</div>

<br><br>


<%= link_to 'Back', users_path, class: "btn btn-primary" %>
