<p id="notice"><%= notice %></p>

<p>
  <strong>Car license:</strong>
  <%= @car.car_license %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Enter date:</strong>
  <%= @car.enter_date %>
</p>

<p>
  <strong>Car category:</strong>
  <%= @car.car_category %>
</p>

<p>
  <strong>Car subcategory:</strong>
  <%= @car.car_subcategory %>
</p>

<div class="">
  <h1>Car Status</h1>
  <%if @car_statuses.blank? %>
    <h3>No Car Status Yet, Would yo like to add it first?</h3>
    <%= link_to 'Add Photo', new_car_car_status_path(@car), class: "btn btn-danger" %>
  <%else%>
    <% i = 1 %>
    <% @car_statuses.each do |car_status| %>
    <div class="table-responsive">
      <table class="table">
        <th>List</th>
        <th>Order</th>
        <th>Status</th>
        <th>Image</th>
        <th></th>
        <th></th>
        <th></th>


      <div class="car_statuss">
        <tr>
          <td><%= i %></td>
          <td><%= car_status.description %></td>
          <td><%= car_status.status %></td>
          <td>Image</td>
          <td><a href="#">Add Image</a></td>
          <td><%= link_to 'Edit Photo', edit_car_car_status_path(@car, car_status), class: "btn btn-danger" %></td>
          <td><%= link_to 'Destroy', car_car_status_path(@car, car_status), method: :delete, data: { confirm: 'Are you sure?' } %></td>


        </tr>

        <% i = i+1 %>
      </div>

  <%end %>
  <%end %>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
