
<div class="panel panel-primary">
  <div class="panel-heading panel-primary">
    <td><h4>Car Informations</h4></td>
  </div>
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th class="text-center">Car license</th>
        <th class="text-center">Description</th>
        <th class="text-center">Enter date</th>
        <th class="text-center">Car category</th>
        <th class="text-center">Car subcategory</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @car.car_license %></td>
        <td><%= @car.description %></td>
        <td><%= @car.enter_date %></td>
        <td><%= @car.car_category %></td>
        <td><%= @car.car_subcategory %></td>
      </tr>
    </tbody>
  </table>
</div>



<div class="progress">
</div>







  <div class="panel panel-primary">
    <div class="panel-heading panel-primary">
      <td><h4>Car Status</h4></td>
    </div>
  <%if @car_statuses.blank? %>
  <div class="container">
    <h3>No Car Status Yet, Would yo like to add it first?</h3>
    <%= link_to 'Add Status', new_user_car_car_status_path(@user,@car), class: "btn btn-danger" %><br><br>
  </div>
  <%else%>
    <% i = 1 %>
    <% keep_status = []%>
      <table class="table table-bordered text-center">
        <thead>
          <th class="text-center">List</th>
          <th class="text-center">Order</th>
          <th class="text-center">Status</th>
          <th class="text-center">Image</th>
          <th colspan="3"></th>
        </thead>
        <tbody>
          <% @car_statuses.each do |car_status| %>
          <% keep_status.push(car_status.status)%>
            <% if car_status.status == false %>
            <tr class="danger">
              <td><%= i %></td>
              <td><%= car_status.description %></td>
              <td><button type="button" class="btn btn-danger btn-sm active" disabled="disabled"><i class="fa fa-times"></i></button></td>

            <%else%>
            <tr class="success">
              <td><%= i %></td>
              <td><%= car_status.description %></td>
              <td><button type="button" class="btn btn-success btn-sm active" disabled="disabled"><i class="fa fa-check"></i></button></td>


            <%end %>


              <td>Image</td>
              <td><%= link_to 'Image', user_car_car_status_path(@user,@car,car_status), class: "btn btn-primary" %></td>
              <td><%= link_to 'Edit Status', edit_user_car_car_status_path(@user,@car, car_status), class: "btn btn-primary" %></td>
              <td><%= link_to 'Destroy', user_car_car_status_path(@user,@car, car_status), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>


            </tr>

            <% i = i+1 %>
        </tbody>


  <%end %>
  <%end %>
    </table>


</div>

<br><br>
<%= link_to 'Add Status', new_user_car_car_status_path(@user,@car), class: "btn btn-primary" %>
<%= link_to 'Edit Car', edit_user_car_path(@user,@car), class: "btn btn-primary" %>
<%= link_to 'Back', user_path(@user), class: "btn btn-primary" %>













<script type="text/javascript">
// console.log("i = ",typeof(<%=i %>));
var keep_num_true = 0;
var keep_num_false = 0;
var check = 100;

var xxxx= 0;
// console.log("xxxxxx", typeof(xxxx));
var status = <%=keep_status%>
var array = status.split(',');
var keep_num = array.length
// console.log(status);
// console.log(typeof(status));
// console.log("status length", status.length);
// console.log(array[0]);
// console.log(typeof(array[0]));
// console.log("arra length", array.length);
for (var num = 0; num < array.length; num++) {
  // console.log("array[num]",array[num]);
  if (array[num] == 'true') {
    // console.log("true--------------");
    // console.log("aaaa",num);
    keep_num_true += 1;
    // console.log("keep_num_true", keep_num_true);
  }else {
    keep_num_false += 1;
  }
}
// console.log("num",keep_num);
// console.log("num",typeof(keep_num));
// console.log("true",keep_num_true);
// console.log("true",typeof(keep_num_true));
// console.log("false",keep_num_false);
// console.log("false",typeof(keep_num_false));
  if (keep_num_true == 0) {

    var find_percent = 0;
  }else {
    // console.log("keep_num_true / keep_num * 100",(keep_num_true / keep_num));
    var find_percent = (keep_num_true / keep_num) * check;
  }
  var t1 = "<div class='progress-bar progress-bar-info' role='progressbar' aria-valuenow="+"'"+find_percent+"'"+" aria-valuemin='0' aria-valuemax='100' style='width:"+find_percent+"%'"+ ">"+"<span class='sr-only'>"+find_percent + "%"+ "Complete</span>"+find_percent + "%"+"</div>";
  // console.log("<div class='progress-bar' role='progressbar' aria-valuenow="+"'"+find_percent+"'"+" aria-valuemin='0' aria-valuemax='100' style='width:"+find_percent+"'"+ ">"+find_percent + "%"+"</div>");
  // console.log(t1);
  $('.progress').append("<div class='progress-bar progress-bar-info progress-bar-striped' role='progressbar' aria-valuenow="+"'"+find_percent+"'"+" aria-valuemin='0' aria-valuemax='100' style='width:"+find_percent+"%'"+ ">"+"<span class='sr-only'>"+find_percent + "%"+ "Complete</span>"+find_percent + "%"+"</div>")
  keep_num = 0;
  keep_num_true = 0;
  keep_num_false = 0;
  find_percent = 0;
</script>
