<%= form_for [@user,@car], html: { multipart: true } do |f| %>

  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<form class="form-horizontal">
<div class="form-group">
  <label class="col-sm-2"><%= f.label :car_license%> :</label>
  <div class="col-sm-9">
    <%= f.text_field :car_license ,class:"form-control"%>
  </div>
</div><br><br><br>

<div class="form-group">
  <label class="col-sm-2"><%= f.label :description %> :</label>
  <div class="col-sm-9">
    <%= f.text_area :description,class:"form-control", rows:"1" %>
  </div>
</div><br><br>

<div class="form-group">
  <label class="col-sm-2"><%= f.label :car_category %> :</label>
  <div class="col-sm-9">
    <%= f.text_field :car_category,class:"form-control" %>
  </div>
</div><br><br>
<div class="form-group">
  <label class="col-sm-2"><%= f.label :car_subcategory %> :</label>
  <div class="col-sm-9">
    <%= f.text_field :car_subcategory,class:"form-control" %>
  </div>
</div><br><br>
<div class="form-group">
  <label class="col-sm-2"><%= f.label :enter_date %> :</label>
  <div class="col-sm-9">
    <%= f.date_select :enter_date %>
  </div>
</div><br><br>
<div class="form-group">
  <label class="col-sm-2">Status :</label>
  <div class="col-sm-9" id="checkboxdiv">
    <label class="checkbox-inline" id="labelid">
      <input class = "inputcheckbox"type="checkbox" id="inlineCheckbox" value="เตรียมพร้อม" > เตรียมพร้อม
    </label>
    <label class="checkbox-inline" id="labelid">
      <input class = "inputcheckbox"type="checkbox" id="inlineCheckbox" value="รื้อ"> รื้อ
    </label>
    <label class="checkbox-inline" id="labelid">
      <input class = "inputcheckbox"type="checkbox" id="inlineCheckbox" value="พ่นสี"> พ่นสี
    </label>
    <label class="checkbox-inline" id="labelid">
      <input class = "inputcheckbox"type="checkbox" id="inlineCheckbox" value="ประกอบ"> ประกอบ
    </label>
    <label class="checkbox-inline" id="labelid">
      <input class = "inputcheckbox"type="checkbox" id="inlineCheckbox" value="ขัดสี"> ขัดสี
    </label>
  </div>
</div><br>


<div class="">
  <div class="checkboxselect">

  </div><br><br>
</div>


<%= hidden_field_tag "inlineCheckboxhidden" %>


<div class="actions btn">
  <%= f.submit%>
</div><br><br>

</form>



<% end %>

















<script type="text/javascript">
var keep_status = [];
var keep_status_hidden = [];
$('.checkbox-inline :checkbox').click(function() {

var $this = $(this);
// $this will contain a reference to the checkbox
var xx = this.value
// console.log(typeof(xx));
// console.log(xx);

var x = "#"+this.value
if ($this.is(':checked')) {
    // console.log("11111");
    // console.log(this.value);
    keep_status.push(this.value);
    $('.checkboxselect').append("<p id='"+xx+"'> &#0149; " +this.value+"</p>")
    $('#inlineCheckbox').append(xx)
    // console.log(keep_status);

    // console.log($this);
    // $('.checkboxselect').append("<p>"+this.value+"</p>")
} else {
  // console.log("222222");
  for (var i = 0; i < keep_status.length; i++) {
    // console.log("kkk",keep_status[i]);
    if (keep_status[i] == this.value) {
      // console.log("i =", i);
      // console.log("keep_status[i]",keep_status[i]);
      // console.log("this.value = ",this.value);
      // keep_status.remove(keep_status.i)
      delete keep_status[i];
      $(x).remove();


      // $('p').remove("'"+x+"'");

    }
  }
  // console.log("keep_status_hidden 222 =",keep_status_hidden);


}
$('#inlineCheckboxhidden').val("");

keep_status_hidden =[]
// console.log(keep_status);
// console.log("------------------------------before loop------------------------------");
for (var i = 0; i < keep_status.length; i++) {
  // console.log("keep_status[i]",keep_status[i]);
  if (i==0) {
    if (keep_status[i] != undefined) {
      keep_status_hidden += keep_status[i]
    }

  }else {
    if (keep_status[i] != undefined) {
      keep_status_hidden += ","+keep_status[i]
    }
  }
}
// }console.log("keep_status_hidden 0 =",keep_status_hidden[0]);
if (keep_status_hidden[0] == ','){
  keep_status_hidden = keep_status_hidden.substring(1);
  // console.log("keep_status_hidden --- =",keep_status_hidden);
}

// keep_status_hidden=[]


// keep_status_hidden += keep_status.toString()
// console.log("keep_status.toString() = ",keep_status.toString());

// console.log($('#inlineCheckbox').value);
// keep_status_hidden=[]
// for (var i = 0; i < keep_status.length; i++) {
//   console.log("keep_status[i] = ",keep_status[i]);
//   if (keep_status[i] != "undefined") {
//     keep_status_hidden += keep_status[i]
//
//   }
//
//



  // if (i==0) {
  //   keep_status_hidden += keep_status[i]
  // }else{
  //   if (keep_status[i]!= "undefined") {
  //     console.log("aaa");
  //     keep_status_hidden += ","+keep_status[i]
  //   }
  // }

// }
// console.log("keep_status_hidden 111 =",keep_status_hidden);
$('#inlineCheckboxhidden').val(keep_status_hidden);
});







</script>
