<%= form_for(@car) do |f| %>
  <% if @car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% @car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<form class="form-horizontal">
<div class="form-group">
  <label class="col-sm-2"><%= f.label :car_license%> :</label>
  <div class="col-sm-9">
    <%= f.text_field :car_license ,class:"form-control"%>
  </div>
</div><br><br><br>

<div class="form-group">
  <label class="col-sm-2"><%= f.label :description %> :</label>
  <div class="col-sm-9">
    <%= f.text_area :description,class:"form-control", rows:"1" %>
  </div>
</div><br><br>

<div class="form-group">
  <label class="col-sm-2"><%= f.label :car_category %> :</label>
  <div class="col-sm-9">
    <%= f.text_field :car_category,class:"form-control" %>
  </div>
</div><br><br>
<div class="form-group">
  <label class="col-sm-2"><%= f.label :car_subcategory %> :</label>
  <div class="col-sm-9">
    <%= f.text_field :car_subcategory,class:"form-control" %>
  </div>
</div><br><br>
<div class="form-group">
  <label class="col-sm-2"><%= f.label :enter_date %> :</label>
  <div class="col-sm-9">
    <%= f.date_select :enter_date %>
  </div>
</div><br><br>

<div class="actions btn">
  <%= f.submit%>
</div><br><br>

</form>



<% end %>
