<div class="panel panel-primary">
  <div class="panel-heading panel-primary">
    <td><h4>Car Informations</h4></td>
  </div>
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th class="text-center">Car license</th>
        <th class="text-center">Description</th>
        <th class="text-center">Enter date</th>
        <th class="text-center">Car category</th>
        <th class="text-center">Car subcategory</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @car.car_license %></td>
        <td><%= @car.description %></td>
        <td><%= @car.enter_date %></td>
        <td><%= @car.car_category %></td>
        <td><%= @car.car_subcategory %></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="panel panel-primary">
  <div class="panel-heading panel-primary">
    <td><h4>Car Status</h4></td>
  </div>
<%if @car_statuses.blank? %>
<div class="container">
  <h3>No Car Status Yet, Please contact us for more information.</h3>
</div>
<%else%>
  <% i = 1 %>
    <table class="table table-bordered text-center">
      <thead>
        <th class="text-center">List</th>
        <th class="text-center">Order</th>
        <th class="text-center">Status</th>
        <th class="text-center">Image</th>
      </thead>
      <tbody>
        <% @car_statuses.each do |car_status| %>
          <tr>
            <td><%= i %></td>
            <td><%= car_status.description %></td>
            <td><%= car_status.status %></td>


            <td><%= link_to 'Image', car_car_status_path(@car, car_status), class: "btn btn-primary" %></td>

          </tr>

          <% i = i+1 %>
      </tbody>


<%end %>
<%end %>
  </table>

</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Image</h4>
      </div>
      <div class="modal-body">
        <!--original-->
        <!--original-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<button type="button" id="carphoto" class="btn btn-primary" data-toggle="modal" data-target="#myModal">All Image</button>
<%= link_to 'Back', cars_path, class: "btn btn-primary" %>



  <% @car_statuses.each do |car_status| %>
    <%if @car_statuses.blank? %>
      <h3>No Status Here Yet, Please contact us for more information</h3>
    <%else%>

    <% @car_images.each do |car_image| %>
      <script type="text/javascript">
        console.log("car status = ",<%=car_status.id %>, "and car image = ", <%=car_image.car_status_id %> );
        if (<%=car_status.id %> == <%=car_image.car_status_id %> )  {
          $( ".modal-body" )
            .append( "<%= car_image.image_name %> "  )
            .append( "<img alt='Benz cls class' src='<%= car_image.image.url(:thumb) %>' > "  )
          }
</script>

      </script>

      <% end %>
    <% end %>
  <% end %>
