<h1>Hello</h1>
<p>/car/_userindex</p>
<a href="/">Home</a>
<a href= "<%=user_session_path%>" >Sign In User</a>
<a href= "<%=admin_session_path%>" >Sign In Admin</a>
<a href= "<%=car_statuses_path%>" >Car Status</a>


<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Car license</th>
      <th>Description</th>
      <th>Enter date</th>
      <th>Car category</th>
      <th>Car subcategory</th>
      <th></th>
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>Car license</th>
      <th>Description</th>
      <th>Enter date</th>
      <th>Car category</th>
      <th>Car subcategory</th>
      <th></th>
    </tr>
  </tfoot>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.car_license %></td>
        <td><%= car.description %></td>
        <td><%= car.enter_date.to_formatted_s(:long_ordinal) %></td>
        <td><%= car.car_category %></td>
        <td><%= car.car_subcategory %></td>
        <td><%= link_to 'Show', car %></td>
      </tr>
    <% end %>
  </tbody>
</table>
