<%= form_for [@user,@car,@car_status,@car_image], html: { multipart: true } do |f| %>
  <% if @car_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_image.errors.count, "error") %> prohibited this car_image from being saved:</h2>

      <ul>
      <% @car_image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2">Detail :</label>
    <div class="col-sm-7">
      <%= f.text_field :image_name,class:"form-control" %>
    </div>
  </div><br><br><br><br><br><br>

  <div class="form-group">
    <label class="col-sm-3"><%= f.file_field :image, onchange: "loadFile(event)" , accept:"image/*"  %></label>
    <div class="col-sm-9">
      <img id="output"/>
    </div>
  </div><br><br>


  <div class="actions btn">
    <%= f.submit%>
  </div><br><br>

  </form>


<% end %>



<script>
  var loadFile = function(event) {
  var output = document.getElementById('output');
  output.src = URL.createObjectURL(event.target.files[0]);
  };
</script>
